<%= @employee.name %>
<%= @employee.level %>

<% @employee.tickets.each do |ticket| %>
  <h3><%= ticket.subject %></h3>
  <%= ticket.age %>
<% end %>
<% @employee.unique_ticket_names.each do |connected| %>
  <%= connected %>
<% end %>

<%= form_with url: "/employees/#{@employee.id}", method: :patch, data: { turbo: false } do |f| %>
  <%= f.label :id %>
  <%= f.text_field :id %>

  <%= f.submit "Add Ticket" %>
<% end %>